{% load custom_tags %}

<div class="post" style="margin-left: {% if level|add:"0"|mul:30 > 300 %}300{% else %}{{ level|add:"0"|mul:30 }}{% endif %}px;">

    <div class="post-header">
        <strong>{{ post.username }}</strong>
        <span class="post-email">{{ post.email }}</span>
    </div>
    <div class="post-text">{{ post.text }}</div>
    <div class="post-footer">
        <button class="reply-btn btn">Ответить</button>
        <span class="post-date">{{ post.timestamp|date:"Y-m-d H:i" }}</span>
    </div>

    <div class="reply-form-container" hidden>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="parent_post_id" value="{{ post.id }}">
            {{ form.text }}
            {{ form.image }}
            <button type="submit">Ответить</button>
        </form>
    </div>

    {% with children_by_parent|get_item:post.id as child %}
        {% if child %}
            {% include "posts/post_item.html" with post=child children_by_parent=children_by_parent form=form level=level|add:"1" %}
        {% endif %}
    {% endwith %}
</div>
